/* ==========================
   Responsive général
========================== */
@media (max-width: 1024px) {
  body {
    font-size: 16px;
    padding: 5px;
  }

  header {
    flex-direction: column !important;
    text-align: center;
  }

  header .logo {
    margin-bottom: 10px;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
  }

  nav a {
    margin: 0.3rem;
  }

  main {
    margin-bottom: 100px;
    }

  footer {
    text-align: center;
  }
}

/* ==========================
   Blog / Articles
========================== */

@media (max-width: 768px) {
  body {
    font-size: 16px;
    padding: 5px;
  }

  main {
    width: 95%;
    margin: 2% auto;
  }

  article {
    padding: 1rem;
  }


  article img,
  .fig img,
  .machines img {
    max-width: 100%;
    height: auto;
  }

  .fig {
    display: flex;           
    flex-direction: column;
    align-items: center;
  }

  .fig figure {
    margin-bottom: 1rem;
    width: 100%;
  }

  .fig figcaption {
    text-align: center;
  }

  article h2 {
    font-size: 1.5rem;
  }

  article p {
    font-size: 1rem;
    line-height: 1.6;
  }

  article:last-of-type {
    margin-bottom: 2%;
  }

}


/* ==========================
   Page Contact
========================== */
@media (max-width: 768px) {

  .contact-section {
    flex-direction: column !important;
    align-items: stretch;
    justify-content: flex-start;
  }

  .contact-info,
  .form-container {
    width: 90% !important;
    margin: 1rem auto;
    text-align: left;
    font-size: medium;
  }

  .contact-info ul {
    display: block !important;
    padding: 0;
  }

  .contact-info li {
    flex-direction: row !important;
    justify-content: center;
    margin: 10px 0;
  }

  .contact-info li img {
    margin-right: 10px;
  }

  .form-container iframe {
    width: 100% !important;
    height: 600px;
  }
}


@media (max-width: 480px) {

  body {
    font-size: 14px;
  }

  header h1 {
    font-size: 1.5rem;
  }

  nav a {
    font-size: medium;
  }

  article h2 {
    font-size: 1.3rem; 
  }

  article p {
    font-size: 0.95rem;
  }

  .form-container iframe {
    height: 500px;
  }

  footer {
    font-size: 0.85rem;
  }
}
